.no-multiplebgs .hero-art {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  background-image: url("../siteart/cruxbg_ie.jpg");
  overflow: hidden;
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../siteart/cruxbg_ie.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../siteart/cruxbg_ie.jpg', sizingMethod='scale')"; }

.no-svg .svg-container {
  display: none; }
.no-svg .svg-fallback {
  display: block;
  width: 78px;
  height: 58px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center; }
.no-svg .rocket {
  background-image: url("../siteart/rocket.png"); }
.no-svg .wrench {
  background-image: url("../siteart/wrench.png"); }
.no-svg .code {
  background-image: url("../siteart/code.png"); }
.no-svg .footer-links li {
  background-repeat: no-repeat;
  background-position: center center; }
.no-svg .footer-links .twitter-link {
  background-image: url("../siteart/twitter.png"); }
.no-svg .footer-links .mail-link {
  background-image: url("../siteart/mail.png"); }
.no-svg .footer-links .facebook-link {
  background-image: url("../siteart/mail.png");
  border: 1px solid red; }
.no-svg .footer-links .github-link {
  background-image: url("../siteart/github.png");
  border: 1px solid red; }
