/* mixins */
/* makes a multicolumn responsive box */
/* colors */
@font-face {
  font-family: 'surveyor';
  src: url("../fonts/SurveyorText-BookItalic.otf");
  /* src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg'); */
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'surveyor';
  src: url("../fonts/SurveyorText-Book.otf");
  /* src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg'); */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icon';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #444444;
  font-size: 1em;
  margin: 0px; }

.clearfix:after {
  content: '';
  width: 100%;
  height: 0px;
  clear: both;
  display: block; }

p {
  font-family: "Droid Serif", georgia, serif;
  font-size: 0.83125em;
  line-height: 150%;
  margin: 0 0 0.84375em 0; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 800; }

a {
  text-decoration: none;
  transition: background-color .2; }

.icon {
  font-family: "icon", sans-serif; }

.section-header {
  font-size: 2.625em;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'surveyor';
  font-weight: normal;
  text-align: center;
  color: #4094aa;
  letter-spacing: 0.02em; }
  .section-header span {
    color: #666; }

.page-subhead {
  font-size: 1.5em;
  font-style: italic;
  font-family: 'surveyor';
  font-weight: normal;
  text-align: center;
  color: #444444;
  margin: 0 0 50px 0; }

.button {
  display: block;
  width: 100%;
  max-width: 500px;
  background-color: #4094aa;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  padding: 20px 0;
  height: 55px;
  text-align: center;
  border-radius: 2px;
  margin: 0 auto 40px;
  letter-spacing: .04em; }
  .button:hover {
    background-color: #317182; }
  .button .icon {
    display: inline-block;
    margin: 0 0 0 8px; }

.main {
  width: 100%;
  margin: 0 auto;
  clear: both;
  position: relative; }

.footer {
  height: 150px;
  width: 100%;
  background-color: #f6f5f1; }

.main-header {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto; }

.main_header_nameplate {
  font-family: 'surveyor';
  font-style: italic;
  text-transform: uppercase;
  font-size: 4.0625em;
  letter-spacing: .02em;
  text-align: left;
  margin: 0px;
  line-height: 80%;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  float: right;
  padding: 6px 20px 8px;
  color: teal; }
  @media screen and (max-width: 37.5em) {
    .main_header_nameplate {
      font-size: 3em; } }
  @media screen and (max-width: 28.125em) {
    .main_header_nameplate {
      font-size: 1.875em; } }

.navigation-menu {
  margin: 0px;
  padding: 0px;
  float: right;
  clear: right; }
  .navigation-menu li {
    display: inline-block;
    font-size: 1.5em;
    font-family: 'surveyor';
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .02em;
    text-align: right;
    display: inline-block;
    margin: 0px 0 0 -4px;
    padding: 0px;
    line-height: 100%;
    color: #777;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px 12px; }
    @media screen and (max-width: 37.5em) {
      .navigation-menu li {
        display: block;
        font-size: 1.25em; } }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.secondary-header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  top: -50px;
  z-index: 100;
  transition: top .15s ease-in-out, height .15s ease-in-out; }
  @media screen and (max-width: 46.875em) {
    .secondary-header {
      height: 40px; } }
  @media screen and (max-width: 37.5em) {
    .secondary-header {
      height: 40px;
      overflow: hidden; } }

.menu-active {
  height: 190px; }

.social-menu-show {
  top: 0;
  box-shadow: 0 0 8px rgba(153, 153, 153, 0.8); }

.secondary-navigation-menu {
  margin: 10px 0 0;
  padding: 0px;
  float: right;
  clear: right;
  height: 0px; }
  @media screen and (max-width: 37.5em) {
    .secondary-navigation-menu {
      width: 100%;
      padding: 0 0 15px 0; } }
  .secondary-navigation-menu li {
    display: inline-block;
    font-size: 1.5em;
    font-family: 'surveyor';
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .02em;
    text-align: right;
    display: inline-block;
    margin: 0px 0 0 -4px;
    padding: 0px;
    line-height: 100%;
    color: #777;
    padding: 3px 8px; }
    .secondary-navigation-menu li:after {
      content: '||';
      display: inline-block;
      padding: 0 0 0 8px;
      color: #d0d0d0; }
    @media screen and (max-width: 46.875em) {
      .secondary-navigation-menu li {
        font-size: 1.125em; } }
    @media screen and (max-width: 37.5em) {
      .secondary-navigation-menu li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 8px 0; }
        .secondary-navigation-menu li:after {
          content: ""; } }

.secondary-navigation-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.secondary-header-nameplate {
  font-family: 'surveyor';
  font-size: 1.5em;
  color: #4094aa;
  display: inline-block;
  margin: 10px 0 0 8px;
  font-style: italic;
  text-transform: uppercase; }
  @media screen and (max-width: 46.875em) {
    .secondary-header-nameplate {
      font-size: 1.125em;
      margin: 10px 0 0 8px; } }
  @media screen and (max-width: 37.5em) {
    .secondary-header-nameplate {
      font-size: 1.375em;
      margin: 8px 0 0 8px; } }

.secondary-header-button {
  font-family: "Open Sans", sans-serif;
  width: 60px;
  font-size: 0.5625em;
  text-transform: uppercase;
  color: #d0d0d0;
  display: block;
  float: right;
  height: 25px;
  margin: 8px 15px 0 0;
  background-color: white;
  text-align: center;
  line-height: 23px;
  font-weight: 600;
  letter-spacing: .07em;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  display: none; }
  .secondary-header-button .button_hidden {
    display: none; }
  @media screen and (max-width: 37.5em) {
    .secondary-header-button {
      display: block; } }

.hero-art {
  width: 100%;
  max-width: 1300px;
  padding: 0 0 30%;
  margin: 0;
  background-image: url("../siteart/dots.svg"), url("../siteart/cruxbg.jpg");
  background-attachment: fixed;
  background-size: auto auto, 100% auto;
  position: relative;
  min-height: 300px; }
  @media screen and (max-width: 31.25em) {
    .hero-art {
      background-size: auto auto, auto 300px;
      background-position: auto auto, center top; } }

.hero-art-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid #666;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.25)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#40000000',GradientType=0 );
  /* IE6-8 */ }

.hero-art-shadow-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  border-top: 1px solid #666;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-8 */ }

.triple-module-shadow {
  width: 100.0%;
  margin-right: 0%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 0 0;
  position: absolute;
  height: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  max-width: 1100px; }
  .triple-module-shadow li {
    width: 33.33333%;
    margin-right: 0%;
    box-sizing: border-box;
    float: left;
    margin: 0px; }
    .triple-module-shadow li:nth-child(3) {
      margin-right: 0px; }
    .triple-module-shadow li .triple-module-image-shadow {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
      box-shadow: 0 0 15px rgba(102, 102, 102, 0.8); }

.teaser-module-container {
  margin: 0 auto;
  padding: 60px 40px 0;
  max-width: 1100px; }

.teaser-module {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  margin: 0 0 40px 0; }

.teaser-module-head {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #d0d0d0;
  font-weight: 800;
  margin: 0 0 0px 0;
  padding: 0 0 2px 0; }

.teaser-module-abstract {
  width: 33.33333%;
  margin-right: 0%;
  box-sizing: border-box;
  float: left;
  margin: 5px 0 0 0; }
  .teaser-module-abstract a {
    color: #4094aa;
    margin: 5px 5px 0 0;
    font-weight: 600;
    text-decoration: none; }
    .teaser-module-abstract a:hover {
      color: #317182;
      background-image: -moz-linear-gradient(top, transparent 75%, #317182 75%);
      background-image: -webkit-linear-gradient(top, transparent 75%, #317182 75%);
      background-image: -o-linear-gradient(top, transparent 75%, #317182 75%);
      background-image: linear-gradient(to bottom, transparent 75%, #317182 75%);
      background-size: 2px 2px;
      background-origin: padding-box;
      background-position: 0 95%;
      background-repeat: repeat-x; }

.teaser-module-mainart {
  margin: 0px 0 0 0;
  width: 33.33333%;
  margin-right: 0%;
  box-sizing: border-box;
  display: block;
  float: left;
  overflow: hidden;
  padding: 5px 0px 0 5px;
  border-left: 1px solid #d0d0d0; }
  .teaser-module-mainart img {
    width: 100%; }

.teaser-module-secondary {
  margin: 5px 0 40px 0;
  width: 16.66667%;
  margin-right: 0%;
  box-sizing: border-box;
  display: block;
  float: left;
  max-height: 178px;
  overflow: hidden;
  padding: 0 0 0 5px; }
  .teaser-module-secondary img {
    width: 100%; }
  .teaser-module-secondary:last-child {
    margin-right: 0px; }

.triple-module {
  width: 100.0%;
  margin-right: 0%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  max-width: 1100px; }
  .triple-module li {
    width: 33.33333%;
    margin-right: 0%;
    box-sizing: border-box;
    float: left;
    margin-top: -50px;
    padding: 0 40px; }
    .triple-module li:nth-child(3) {
      margin-right: 0px; }
    @media screen and (max-width: 56.25em) {
      .triple-module li {
        padding: 0 25px; } }
    @media screen and (max-width: 51.5625em) {
      .triple-module li {
        padding: 0 15px; } }
    @media screen and (max-width: 37.5em) {
      .triple-module li {
        width: 100.0%;
        margin-right: 0%;
        box-sizing: border-box;
        max-width: 25em; } }

.triple-module-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  background-color: white; }

.triple-module-icon {
  font-size: 3.75em;
  line-height: 2.1875em;
  color: #4094aa;
  text-align: center; }

.triple-module-head {
  font-size: 1.5em;
  font-family: 'surveyor';
  font-style: italic;
  margin: 0 0 15px; }
  @media screen and (max-width: 51.5625em) {
    .triple-module-head {
      font-size: 1.25em; } }

.triple-module-text {
  font-size: 1em;
  color: #888;
  line-height: 160%; }
  @media screen and (max-width: 51.5625em) {
    .triple-module-text {
      font-size: 0.875em; } }

.hero-art-secondary {
  width: 100%;
  max-width: 1300px;
  padding: 0 0 20%;
  margin: 0;
  background-image: url("../siteart/dots.svg"), url("../siteart/code.png");
  background-attachment: fixed;
  background-size: auto auto, 100% auto;
  position: relative; }
