@charset "UTF-8";
/* mixins */
/* makes a multicolumn responsive box */
/* colors */
figure img {
  width: 100%; }

img {
  display: block; }
  img a {
    border: 0; }

a img {
  border: 0; }

.clearfix:after {
  content: '';
  width: 100%;
  height: 0;
  clear: both;
  display: block; }

p {
  font-family: "Droid Serif", georgia, times, serif;
  font-size: 0.83125em;
  line-height: 150%;
  margin: 0 0 0.84375em 0; }

ul {
  padding: 0px; }
  ul li {
    list-style-type: none; }

.section-header, .resume-section-header {
  font-size: 1.875em;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Merriweather", georgia, times, serif;
  font-weight: normal;
  text-align: center;
  color: #4094aa;
  -webkit-transform: font-size .3s;
      -ms-transform: font-size .3s;
          transform: font-size .3s; }
  @media screen and (max-width: 31.25em) {
    .section-header, .resume-section-header {
      font-size: 1.5em; } }
  .section-header span, .resume-section-header span {
    color: #999; }

.button {
  display: block;
  width: 100%;
  max-width: 500px;
  background-color: #4094aa;
  color: white;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  padding: 20px 0;
  height: 55px;
  text-align: center;
  border-radius: 2px;
  margin: 0 auto 60px;
  letter-spacing: .06em;
  -webkit-transition: color .2s ease-in, background-color .2s ease-in;
          transition: color .2s ease-in, background-color .2s ease-in;
  background-image: none; }
  @media screen and (max-width: 32.5em) {
    .button {
      width: 96%; } }
  .button .arrow {
    fill: white;
    -webkit-transition: fill .2s;
            transition: fill .2s; }
  .button:hover {
    background-color: #245360;
    color: white;
    background-image: none; }
    .button:hover .arrow {
      fill: white; }

.blog-headline {
  font-size: 1.375em;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  margin: 0 10px 15px;
  text-align: center; }
  @media screen and (max-width: 31.25em) {
    .blog-headline {
      font-size: 1.125em; } }
  .blog-headline a {
    color: #444;
    background-image: none; }
    .blog-headline a:hover {
      color: #4094aa; }

.blog-entry-date {
  text-align: center;
  font-style: italic;
  font-size: 0.875em; }

.site-footer {
  height: 330px;
  width: 100%;
  background-color: #f6f5f1;
  display: block; }

.footer-links {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0; }
  .footer-links li {
    width: 55px;
    height: 55px;
    display: inline-block;
    margin: 0 12px 0; }
    .footer-links li a {
      display: block;
      border-radius: 50%;
      background-color: white;
      padding-top: 18px;
      width: 55px;
      height: 55px;
      font-size: 1.125em;
      color: #4094aa;
      -webkit-transition: background-color .2s ease-in;
              transition: background-color .2s ease-in;
      background-image: none;
      box-shadow: -1px -1px 1px rgba(153, 153, 153, 0.1); }
      .footer-links li a .mail, .footer-links li a .twitter, .footer-links li a .facebook, .footer-links li a .github {
        -webkit-transition: fill .2s;
                transition: fill .2s; }
      .footer-links li a:hover {
        background-color: #4094aa;
        color: white; }
        .footer-links li a:hover .mail, .footer-links li a:hover .twitter, .footer-links li a:hover .facebook, .footer-links li a:hover .github {
          fill: white; }
    @media screen and (max-width: 21.875em) {
      .footer-links li {
        margin: 40px 5px 0; } }
  .footer-links .mail-link {
    font-size: 1em; }

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4094aa;
  text-align: center;
  line-height: 40px;
  color: white;
  display: none;
  background-image: none; }
  .scroll-to-top:hover {
    color: white;
    background-image: none; }

.up-arrow {
  fill: white; }

.footer-tagline {
  color: #999;
  font-size: 0.6875em;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 0; }

.svg-import {
  height: 0;
  width: 0;
  overflow: hidden; }

.footer-navigation-menu {
  width: 100%;
  text-align: center;
  margin: 0 auto 40px;
  background-image: -webkit-linear-gradient(top, transparent 75%, #999 75%);
  background-image: linear-gradient(to bottom, transparent 75%, #999 75%);
  background-size: 60% 2px;
  background-origin: padding-box;
  background-position: center 100%;
  background-repeat: no-repeat;
  padding: 0 0 25px; }
  @media screen and (max-width: 26.25em) {
    .footer-navigation-menu {
      margin: 0px auto 20px; } }
  .footer-navigation-menu li {
    display: inline-block;
    font-family: "Merriweather", georgia, times, serif;
    font-style: italic;
    font-size: 1.25em;
    margin: 40px 0 0;
    text-transform: capitalize; }
    @media screen and (max-width: 28.125em) {
      .footer-navigation-menu li {
        font-size: 1em; } }
    .footer-navigation-menu li:after {
      content: ' | |';
      display: inline-block;
      margin: 0 15px;
      color: #d0d0d0;
      letter-spacing: -.2em; }
      @media screen and (max-width: 26.25em) {
        .footer-navigation-menu li:after {
          margin: 0 5px; } }
    .footer-navigation-menu li:nth-child(4):after {
      content: '';
      margin: 0px; }
    @media screen and (max-width: 26.25em) {
      .footer-navigation-menu li {
        margin: 20px 0 0;
        font-size: 1em; } }
    .footer-navigation-menu li a {
      color: #999;
      background: none; }
      .footer-navigation-menu li a:hover {
        color: #4094aa; }

/* mixins */
/* makes a multicolumn responsive box */
/* colors */
figure img {
  width: 100%; }

img {
  display: block; }
  img a {
    border: 0; }

a img {
  border: 0; }

.clearfix:after {
  content: '';
  width: 100%;
  height: 0;
  clear: both;
  display: block; }

p {
  font-family: "Droid Serif", georgia, times, serif;
  font-size: 0.83125em;
  line-height: 150%;
  margin: 0 0 0.84375em 0; }

ul {
  padding: 0px; }
  ul li {
    list-style-type: none; }

.section-header, .resume-section-header {
  font-size: 1.875em;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Merriweather", georgia, times, serif;
  font-weight: normal;
  text-align: center;
  color: #4094aa;
  -webkit-transform: font-size .3s;
      -ms-transform: font-size .3s;
          transform: font-size .3s; }
  @media screen and (max-width: 31.25em) {
    .section-header, .resume-section-header {
      font-size: 1.5em; } }
  .section-header span, .resume-section-header span {
    color: #999; }

.button {
  display: block;
  width: 100%;
  max-width: 500px;
  background-color: #4094aa;
  color: white;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  padding: 20px 0;
  height: 55px;
  text-align: center;
  border-radius: 2px;
  margin: 0 auto 60px;
  letter-spacing: .06em;
  -webkit-transition: color .2s ease-in, background-color .2s ease-in;
          transition: color .2s ease-in, background-color .2s ease-in;
  background-image: none; }
  @media screen and (max-width: 32.5em) {
    .button {
      width: 96%; } }
  .button .arrow {
    fill: white;
    -webkit-transition: fill .2s;
            transition: fill .2s; }
  .button:hover {
    background-color: #245360;
    color: white;
    background-image: none; }
    .button:hover .arrow {
      fill: white; }

.blog-headline {
  font-size: 1.375em;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  margin: 0 10px 15px;
  text-align: center; }
  @media screen and (max-width: 31.25em) {
    .blog-headline {
      font-size: 1.125em; } }
  .blog-headline a {
    color: #444;
    background-image: none; }
    .blog-headline a:hover {
      color: #4094aa; }

.blog-entry-date {
  text-align: center;
  font-style: italic;
  font-size: 0.875em; }

main {
  width: 100%;
  margin: 0 auto;
  clear: both;
  position: relative; }

.teaser-module-container, .resume_container {
  margin: 0 auto;
  padding: 80px 40px 0;
  max-width: 1100px; }
  @media screen and (max-width: 28.125em) {
    .teaser-module-container, .resume_container {
      padding: 40px 10px 0; } }

.teaser-module {
  width: 100%;
  margin-right: 0;
  margin: 0 0 60px 0; }

.teaser-module-head {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #d0d0d0;
  font-weight: 800;
  margin: 0 0 0 0;
  padding: 0 0 2px 0; }
  .teaser-module-head a {
    color: #444;
    background-image: none; }
    .teaser-module-head a:hover {
      color: #4094aa;
      background-image: none; }

.teaser-module-abstract {
  width: 33.33333%;
  margin-right: 0;
  float: left;
  margin: 5px 0 0 0;
  padding: 0 8px 0 0; }
  .teaser-module-abstract p {
    font-size: 0.875em; }
  @media screen and (max-width: 31.25em) {
    .teaser-module-abstract {
      width: 100%;
      margin-right: 0; } }

.teaser-module-abstract-link, .search-results-link {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  color: #4094aa;
  margin: 0 4px 0 0;
  font-weight: 700;
  text-decoration: none;
  background: none;
  display: inline-block;
  font-size: 0.875em; }
  .teaser-module-abstract-link .arrow, .search-results-link .arrow {
    fill: #4094aa;
    -webkit-transition: fill .2s;
            transition: fill .2s; }
  .teaser-module-abstract-link:hover, .search-results-link:hover {
    color: #245360;
    background-image: none; }
    .teaser-module-abstract-link:hover .arrow, .search-results-link:hover .arrow {
      fill: #245360; }

.teaser-module-art {
  width: 66.66667%;
  margin-right: 0;
  float: left;
  border-left: 1px solid #d0d0d0; }
  @media screen and (max-width: 31.25em) {
    .teaser-module-art {
      width: 100%;
      margin-right: 0;
      border-left: 0px; } }

.teaser-module-mainart {
  margin: 0 0 0 0;
  width: 50%;
  margin-right: 0;
  display: block;
  float: left;
  overflow: hidden;
  padding: 5px 0 0 5px;
  position: relative; }
  @media screen and (max-width: 48.125em) {
    .teaser-module-mainart {
      width: 100%;
      margin-right: 0; } }
  @media screen and (max-width: 31.25em) {
    .teaser-module-mainart {
      padding: 5px 0 0 0; } }
  .teaser-module-mainart img {
    width: 100%; }
  .teaser-module-mainart .med-photo-overlay:hover {
    box-shadow: 0 0 50px rgba(102, 102, 102, 0.7) inset; }

.teaser-module-secondary {
  margin: 5px 0 0 0;
  width: 21.875%;
  margin-right: 0;
  display: block;
  float: left;
  max-height: 178px;
  overflow: hidden;
  position: relative;
  padding: 0 0 0 5px; }
  @media screen and (max-width: 48.125em) {
    .teaser-module-secondary {
      width: 37.5%;
      margin-right: 0; } }
  @media screen and (max-width: 31.25em) {
    .teaser-module-secondary {
      padding: 0;
      margin: 5px 5px 0 0; } }
  .teaser-module-secondary img {
    width: 100%; }
  .teaser-module-secondary:last-child {
    margin-right: 0; }
  .teaser-module-secondary .round-photo-overlay:hover {
    box-shadow: 0 0 50px rgba(102, 102, 102, 0.7) inset; }

.teaser-module-arrow {
  width: 6.25%;
  margin-right: 0;
  display: block;
  float: left;
  max-height: 178px;
  overflow: hidden;
  margin: 5px 0 0 0;
  position: relative;
  font-size: 3em;
  color: #4094aa;
  text-align: center;
  position: relative;
  padding-bottom: 20.5%; }
  @media screen and (max-width: 48.125em) {
    .teaser-module-arrow {
      padding-bottom: 36%; } }
  .teaser-module-arrow svg {
    width: 55%;
    -webkit-transition: width .2s;
            transition: width .2s; }
  .teaser-module-arrow .chevron {
    -webkit-transition: fill .2s;
            transition: fill .2s; }
  .teaser-module-arrow:hover .chevron {
    fill: #245360; }
  .teaser-module-arrow:hover svg {
    width: 37%; }
  .teaser-module-arrow .svg-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 52px;
    margin: auto; }
  .teaser-module-arrow:hover {
    color: #245360; }

.chevron {
  padding-top: 20px; }

.med-photo-overlay {
  position: absolute;
  width: 100%;
  padding-bottom: 60%;
  box-shadow: 0 0 50px rgba(153, 153, 153, 0.5) inset;
  -webkit-transition: box-shadow .2s;
          transition: box-shadow .2s;
  z-index: 2; }

.wide-photo-overlay {
  position: absolute;
  width: 100%;
  padding-bottom: 42%;
  box-shadow: 0 0 50px rgba(153, 153, 153, 0.3) inset;
  z-index: 2; }

.round-photo-overlay {
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  box-shadow: 0 0 50px rgba(153, 153, 153, 0.3) inset;
  z-index: 2; }

.hero-art-secondary {
  width: 100%;
  max-width: 1600px;
  padding: 0 0 20%;
  margin: 0 auto;
  background-image: url("../siteart/code_bg.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  position: relative;
  min-height: 250px; }
  @media screen and (max-width: 46.875em) {
    .hero-art-secondary {
      background-image: url("../siteart/code_bg_med.jpg");
      height: 250px; } }
  @media screen and (max-width: 26.5625em) {
    .hero-art-secondary {
      background-image: url("../siteart/code_bg_small.jpg");
      height: 250px; } }

.hero-art-secondary-portfolio {
  width: 100%;
  max-width: 1600px;
  padding: 0 0 33%;
  margin: 0 auto;
  background-image: url("../siteart/cruxbg_two_inside.png");
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: center 70px;
  position: relative;
  background-repeat: no-repeat;
  min-height: 250px; }
  @media screen and (max-width: 46.875em) {
    .hero-art-secondary-portfolio {
      background-image: url("../siteart/cruxbg_two_inside.png"); } }
  @media screen and (max-width: 31.25em) {
    .hero-art-secondary-portfolio {
      background-image: url("../siteart/cruxbg_two_inside.png"); } }

.secondary-hero-art-shadow-portfolio {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid #d0d0d0;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-8 */ }

.secondary-hero-art-shadow-top-portfolio {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  border-top: 1px solid #d0d0d0;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-8 */ }

.big-image-module {
  width: 100%;
  margin-right: 0;
  margin: 0 0 40px; }

.big-image-module-text-block {
  width: 100%;
  margin-right: 0;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  -ms-column-count: 2;
  /* ms */
  column-count: 2;
  -webkit-column-gap: 30px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 30px;
  /* Firefox */
  -ms-column-gap: 30px;
  /* ms */
  column-gap: 30px;
  -webkit-column-rule: 1px solid #d0d0d0;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid #d0d0d0;
  /* Firefox */
  -ms-column-rule: 1px solid #d0d0d0;
  /* ms */
  column-rule: 1px solid #d0d0d0;
  color: #666;
  font-size: 1em;
  line-height: 150%;
  font-family: "Droid Serif", georgia, times, serif;
  margin: 0 0 30px 0; }
  @media screen and (max-width: 46.875em) {
    .big-image-module-text-block {
      -webkit-column-count: 1;
      /* Chrome, Safari, Opera */
      -moz-column-count: 1;
      /* Firefox */
      column-count: 1; } }

.big-image-module-image-container {
  width: 100%;
  margin-right: 0;
  margin-bottom: 80px; }

.big-image-module-main {
  width: 58.33333%;
  margin-right: 0;
  float: left;
  margin: 0;
  display: block;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 43.75em) {
    .big-image-module-main {
      width: 100%;
      margin-right: 0; } }

.big-image-module-secondary-container {
  width: 41.66667%;
  margin-right: 0;
  float: left; }
  @media screen and (max-width: 43.75em) {
    .big-image-module-secondary-container {
      width: 100%;
      margin-right: 0; } }

.big-image-module-secondary {
  width: 100%;
  margin-right: 0;
  margin: 0;
  display: block;
  padding: 0;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 43.75em) {
    .big-image-module-secondary {
      width: 50%;
      margin-right: 0;
      float: left; } }
  @media screen and (max-width: 37.5em) {
    .big-image-module-secondary {
      width: 100%;
      margin-right: 0; } }
  .big-image-module-secondary img {
    margin: 0; }

.big-image-module-three-across {
  margin: 0 0 10px 0;
  width: 32.12121%;
  margin-right: 1.81818%;
  float: left;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 40.625em) {
    .big-image-module-three-across {
      width: 100%;
      margin-right: 0; } }
  .big-image-module-three-across:nth-child(3) {
    margin-right: 0; }

.big-text-module {
  margin: 0 auto 40px; }

.big-text-module-image {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px; }

.triple-module-portfolio {
  width: 100.0%;
  margin-right: 0;
  margin: 0 auto 40px;
  position: relative;
  max-width: 1100px;
  padding: 0 0 30px 0; }
  @media screen and (max-width: 37.5em) {
    .triple-module-portfolio {
      max-width: 400px;
      margin: 0 auto; } }
  .triple-module-portfolio li {
    width: 33.33333%;
    margin-right: 0;
    float: left;
    padding: 0 40px; }
    .triple-module-portfolio li:nth-child(3) {
      margin-right: 0; }
    @media screen and (max-width: 56.25em) {
      .triple-module-portfolio li {
        padding: 0 25px; } }
    @media screen and (max-width: 51.5625em) {
      .triple-module-portfolio li {
        padding: 0 15px; } }
    @media screen and (max-width: 37.5em) {
      .triple-module-portfolio li {
        width: 100.0%;
        margin-right: 0;
        margin: 00px 0 60px; }
        .triple-module-portfolio li:nth-child(3) {
          margin: -50px 0 0; } }

.triple-module-image-portfolio {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 50em) {
    .triple-module-image-portfolio {
      width: 150px;
      height: 150px; } }
  .triple-module-image-portfolio img {
    width: 102%; }

.triple-module-icon-portfolio {
  font-size: 3.75em;
  line-height: 2.4375em;
  color: #4094aa;
  text-align: center; }
  @media screen and (max-width: 28.125em) {
    .triple-module-icon-portfolio {
      font-size: 2.5em;
      line-height: 2.4375em; } }

.triple-module-head-portfolio {
  font-size: 1em;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  margin: 0 0 15px;
  font-weight: 700; }

.triple-module-text-portfolio {
  font-size: 1em;
  line-height: 160%; }
  @media screen and (max-width: 51.5625em) {
    .triple-module-text-portfolio {
      font-size: 0.875em; } }

.sidesaddle-module {
  width: 100%;
  margin-right: 0;
  margin-bottom: 80px; }

.sidesaddle-module-image {
  float: right;
  width: 52.5%;
  margin-right: 0.90909%;
  margin: 5px 0 8px 0.90909%;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 34.375em) {
    .sidesaddle-module-image {
      width: 100%;
      margin-right: 0;
      margin: 0 0 15px 0; } }

.sidesaddle-module-textblock {
  color: #666;
  font-size: 1em;
  line-height: 150%;
  font-family: "Droid Serif", georgia, times, serif; }

.slideshow {
  padding-bottom: 18.5%; }
  @media screen and (max-width: 40.625em) {
    .slideshow {
      padding-bottom: 58%; } }

.slide-one {
  position: absolute;
  z-index: -2; }

.slide-two {
  position: absolute;
  z-index: -1; }

.reefers-head {
  font-size: 0.875em;
  text-align: center;
  color: #666;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  margin: 0 0 15px 0; }

.reefers-list {
  text-align: center;
  margin: 0 auto 60px; }
  .reefers-list li {
    width: 11.91667%;
    margin-right: 0.66667%;
    display: inline-block;
    max-width: 130px;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 0.8125em; }
    @media screen and (max-width: 53.125em) {
      .reefers-list li {
        width: 18.76923%;
        margin-right: 1.53846%;
        max-width: none; } }
    @media screen and (max-width: 31.25em) {
      .reefers-list li {
        width: 32.0%;
        margin-right: 2%;
        max-width: 100px;
        margin-bottom: 15px; } }
    .reefers-list li:last-child {
      margin-right: 0px; }
  .reefers-list a {
    background-image: none;
    color: #999;
    background-image: none;
    display: block;
    height: auto;
    width: 100%; }
    .reefers-list a:hover {
      color: #4094aa; }
      .reefers-list a:hover .reefers-image {
        background-color: #4094aa; }
        .reefers-list a:hover .reefers-image img {
          opacity: 0.8; }

.reefers-image {
  width: 100%;
  margin: 0 0 8px 0; }
  .reefers-image img {
    width: 100%;
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out; }

.hero-art-resume {
  width: 100%;
  max-width: 1300px;
  padding: 0 0 40%;
  margin: 0;
  background-image: url("../siteart/cruxbg_inside.png");
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: center 60px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  min-height: 300px; }
  @media screen and (max-width: 31.25em) {
    .hero-art-resume {
      background-size: 500px auto;
      background-position: center 50px; } }

.resume_container {
  padding-top: 20px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto; }
  .resume_container p {
    font-size: 0.9375em;
    line-height: 150%; }
    @media screen and (max-width: 31.25em) {
      .resume_container p {
        font-size: 0.875em;
        line-height: 150%; } }

.resume-section {
  margin: 0 0 60px 0;
  display: block;
  float: none; }

.resume-section-header {
  font-size: 1.875em;
  -webkit-transition: font-size .3s;
          transition: font-size .3s; }
  @media screen and (max-width: 31.25em) {
    .resume-section-header {
      font-size: 1.375em; } }

.resume-info-line {
  font-style: italic;
  text-align: center;
  margin: 0 0 20px 0; }

.resume-subheader {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 0.9375em;
  font-weight: 700;
  margin: 30px 0 15px 0;
  padding: 0 0 10px 0;
  text-align: center;
  background-image: -webkit-linear-gradient(top, transparent 75%, #666 75%);
  background-image: linear-gradient(to bottom, transparent 75%, #666 75%);
  background-size: 90px 2px;
  background-origin: padding-box;
  background-position: center 100%;
  background-repeat: no-repeat; }
  @media screen and (max-width: 31.25em) {
    .resume-subheader {
      font-size: 0.875em;
      line-height: 150%; } }

.resume-links {
  text-align: center;
  font-family: "Montserrat", helvetica, arial, sans-serif; }

.blog-container {
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 40px 0 0 0; }

.blog-entry, .search-results-entry {
  margin-bottom: 40px;
  padding-bottom: 30px;
  background-image: -webkit-linear-gradient(top, transparent 75%, #666 75%);
  background-image: linear-gradient(to bottom, transparent 75%, #666 75%);
  background-size: 60% 2px;
  background-origin: padding-box;
  background-position: center 100%;
  background-repeat: no-repeat; }

.blog-single-entry {
  margin-top: 60px; }
  .blog-single-entry .blog-entry, .blog-single-entry .search-results-entry {
    background-image: none; }

@media screen and (max-width: 45.5em) {
  .blog-entry-text {
    padding: 0 20px; } }
@media screen and (max-width: 31.25em) {
  .blog-entry-text {
    padding: 0 10px; } }
.blog-entry-text p {
  font-size: 0.9375em; }
  @media screen and (max-width: 31.25em) {
    .blog-entry-text p {
      font-size: 0.875em; } }
.blog-entry-text p:first-child:first-letter {
  float: left;
  color: #999;
  font-size: 53px;
  line-height: 60px;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Montserrat", helvetica, arial, sans-serif; }
  @media screen and (max-width: 31.25em) {
    .blog-entry-text p:first-child:first-letter {
      font-size: 48px; } }

.blog-tags li {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 0.6875em;
  letter-spacing: .04em;
  display: inline-block;
  font-weight: 700;
  margin: 0 0 0px 0; }
  .blog-tags li:before {
    content: ' | ';
    display: inline-block;
    color: #999;
    margin: 0 5px 0 0; }
  .blog-tags li:nth-child(1):before {
    content: '';
    display: none; }

.blog-related-links-list {
  padding: 20px 0 0 0; }
  .blog-related-links-list li {
    font-family: "Montserrat", helvetica, arial, sans-serif;
    text-align: center;
    line-height: 150%;
    padding: 0 0 10px 0;
    font-size: 0.875em; }

.blog-related-links-label {
  color: #999; }

.blog-pullquote {
  width: 33.33333%;
  margin-right: 0;
  margin: -2px 0 10px 20px;
  float: right;
  border-bottom: 3px solid #4094aa;
  padding: 0 0 8px 0; }
  @media screen and (max-width: 43.75em) {
    .blog-pullquote {
      width: 50%;
      margin-right: 0; } }
  @media screen and (max-width: 31.25em) {
    .blog-pullquote {
      width: 100%;
      margin-right: 0;
      margin: 0 0 30px 0; } }
  .blog-pullquote:after {
    content: ' \201C \20 \201D ';
    display: block;
    width: 45px;
    background-color: white;
    margin: 0 auto -18px;
    text-align: center;
    font-size: 1.875em;
    line-height: 0.875em;
    height: 14px;
    padding: 3px 0 0 0;
    color: #4094aa; }
  .blog-pullquote q {
    font-size: 1.125em;
    color: #999;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    line-height: 160%;
    quotes: "“" "”" "‘" "’"; }
    @media screen and (max-width: 34.375em) {
      .blog-pullquote q {
        font-size: 1em; } }

.content-nav {
  text-align: center; }
  .content-nav li {
    display: inline-block;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 0.875em; }
    @media screen and (max-width: 25em) {
      .content-nav li {
        display: block;
        margin: 0 0 12px 0; } }
    .content-nav li:after {
      content: ' | ';
      color: #999;
      display: inline-block;
      margin: 0 8px;
      font-family: "Merriweather", georgia, times, serif; }
    .content-nav li:nth-child(3):after {
      content: ''; }

.search-results {
  margin-top: 60px; }

.search-results-header {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 0 0 60px 0;
  border-bottom: 1px solid #999;
  padding: 0 0 10px 0; }

.search-results-link {
  font-size: 0.875em; }
