.blog-container
	{
	max-width:700px;
	margin:0 auto 50px;
	padding:80px 0 0 0;
	}


.blog-entry
	{
	margin-bottom:40px;
	padding-bottom:30px;
	background-image: -moz-linear-gradient(top, transparent 75%, $dark 75%);
	background-image: -webkit-linear-gradient(top, transparent 75%, $dark 75%);
	background-image: -o-linear-gradient(top, transparent 75%, $dark 75%);
	background-image: linear-gradient(to bottom, transparent 75%, $dark 75%);
	background-size: 60% 2px;
	background-origin: padding-box;
	background-position: center 100%;
	background-repeat: no-repeat;	
	}
	
.blog-single-entry
	{
	margin-top:60px;
	
	.blog-entry
	{
	background-image:none;
	}
	
	}
	
.blog-entry-text
	{
	
		@media screen and (max-width:em(728)) 
		{
		padding:0 20px;
		}
		
		@media screen and (max-width:em(500)) 
		{
		padding:0 10px;
		}
	
		p
		{
		font-size:em(15);
		
			@media screen and (max-width:em(500)) 
			{
			font-size:em(14);
			}
		
		}
		
		p:first-child:first-letter 
		{ 
		float: left; 
		color: $med; 
		font-size: 53px; 
		line-height: 60px; 
		padding-top: 6px; 
		padding-right: 8px; 
		padding-left: 3px; 
		font-family: $sans; 
		
			@media screen and (max-width:em(500)) 
			{
			font-size: 48px; 
			}
		}
	}	

	
	.blog-tags
	{
		li
		{
		font-family:$sans;
		font-size:em(11);
		letter-spacing:.04em;
		display:inline-block;
		font-weight:700;
		margin:0 0 0px 0;
		
			&:before
			{
			content:' | ';
			display:inline-block;
			color:$med;
			margin:0 5px 0 0;
			}
		
			&:nth-child(1)
			{
			
			&:before
			{
			content:'';
			display:none;
			}
			}
		
		}
	}	
	
.blog-related-links-list
	{
	padding:20px 0 0 0;
	
	li
	{
	font-family:$sans;
	text-align:center;
	line-height:150%;
	padding:0 0 10px 0;
	font-size:em(14);
	}

	}
	
.blog-related-links-label
	{
	color:$med;
	}
	
	
.blog-pullquote
	{
	@include spanner_too (3, 700, 0, 1);
	margin:-2px 0 10px 20px;
	float:right;
	border-bottom:3px solid $aqua;
	padding:0 0 8px 0;
	
	
	@media screen and (max-width:em(700)) 
	{
	@include spanner_too (3, 700, 0, 1.5);
	}
	
	@media screen and (max-width:em(500)) 
	{
	@include spanner_too (3, 700, 0, 3);	
	margin:0 0 30px 0;
	}
	
	&:after
	{
	content:' \201C \20 \201D ';
	display:block;
	width:45px;
	background-color:white;
	margin:0 auto -18px;
	text-align:center;
	font-size:em(30);
	line-height:em(14);
	height:14px;
	padding:3px 0 0 0;
	color:$aqua;
	
	}
	
	q
	{
	font-size:em(18);
	color:$med;
	font-family:$sans;
	line-height:160%;
	quotes: "“" "”" "‘" "’";
	
	@media screen and (max-width:em(550)) 
	{
	font-size:em(16);
	}
	
	
	}
	
	}
		
.content-nav
	{
	text-align:center;
		li
		{
		display:inline-block;
		font-family:$sans;
		font-size:em(14);
		
				@media screen and (max-width:em(400)) 
				{
				display:block;
				margin:0 0 12px 0;
				}
		
		&:after
			{
			content:' | ';
			color:$med;
			display:inline-block;
			margin:0 8px;
			font-family:$serif;
			}
			
		&:nth-child(3)
		{
		&:after
			{
			content:'';
			}
		
		}
		
		}
	
	}