.site-footer
	{
	height:230px;
	width:100%;
	background-color:#f6f5f1;
	}
	
	
.footer-links
	{
	width:100%;
	text-align:center;
	margin:0 0 50px 0;
	
	
	li
	{
	width:55px;
	height:55px;
	display:inline-block;
	margin:40px 12px 0;
	
		a
		{
		display:block;
		border-radius:50%;
		background-color:white;
		padding-top:18px;
		width:55px;
		height:55px;
		font-size:em(18);
		color:$aqua;
		transition:background-color .2s ease-in-out;	
		background-image:none;
		box-shadow:-1px -1px 1px rgba($med, .1);
		
		.mail, .twitter, .facebook, .github
		{
		transition: fill .2s;	
		}
		
		
		&:hover
		{
		background-color:$aqua;
		color:white;
		
		.mail, .twitter, .facebook, .github
		{
		fill:white;		
		}
		
		}
		
		}
	
	
		@media screen and (max-width:em(350)) 
		{
		margin:40px 5px 0;		
		}

	}

	
	
	.mail-link
	{
	font-size:em(16);
	}

	}
	
.scroll-to-top
	{
	position:fixed;
	right:15px;
	bottom:30px;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:$aqua;
	text-align:center;
	line-height:40px;
	color:white;
	display:none;
	background-image:none;
	
		&:hover
		{
		color:white;
		background-image:none;
		}	

	}
	
.up-arrow
	{
	fill:white;	
	}
	
.footer-tagline	
	{
	color:$med;
	font-size:em(11);
	text-align:center;
	margin:0 0 5px 0;
	padding:0;
	}
	
	
.svg-import	
	{
	height:0;
	width:0;
	overflow:hidden;	
	}
	
	
.footer-navigation-menu	
	{
	width:100%;
	text-align:center;
	margin:0 auto 40px;
	background-image: -moz-linear-gradient(top, transparent 75%, $med 75%);
	background-image: -webkit-linear-gradient(top, transparent 75%, $med 75%);
	background-image: -o-linear-gradient(top, transparent 75%, $med 75%);
	background-image: linear-gradient(to bottom, transparent 75%, $med 75%);
	background-size: 60% 2px;
	background-origin: padding-box;
	background-position: center 100%;
	background-repeat: no-repeat;	
	padding:0 0 25px;
	
				@media screen and (max-width:em(420)) 
				{
				margin:0px auto 20px;
				}
	
	
	
	li
		{
		display:inline-block;
		font-family:$serif;
		font-style:italic;
		font-size:em(20);
		margin:40px 0 0;
		text-transform:capitalize;
		
				@media screen and (max-width:em(450)) 
				{
				font-size:em(16);
				}
		
			&:after
			{
			content:' | |';
			display:inline-block;
			margin:0 15px;
			color:$light;
			letter-spacing: -.2em;
			
				@media screen and (max-width:em(420)) 
				{
				margin:0 5px;
				}
			
			}
			
			&:nth-child(4)
			{

				&:after
				{
				content:'';
				margin:0px;
				}
			
			}
			
			@media screen and (max-width:em(420)) 
			{
			margin:20px 0 0;
			font-size:em(16);
			}
		
		
		a
		{
		color:$med;
		background:none;
		
			&:hover
			{
			color:$aqua;
			}
		
		}
		
		}
	
	
	}