.site-footer
	{
	height:230px;
	width:100%;
	background-color:#f6f5f1;
	}
	
	
.footer-links
	{
	width:100%;
	text-align:center;
	margin:0 0 50px 0;
	
	
	li
	{
	width:55px;
	height:55px;
	display:inline-block;
	margin:40px 12px 0;
	
		a
		{
		display:block;
		border-radius:50%;
		font-family:$icon;
		background-color:white;
		padding-top:18px;
		width:55px;
		height:55px;
		font-size:em(18);
		color:$aqua;
		transition:background-color .2s ease-in-out;	
		background-image:none;
		box-shadow:-1px -1px 1px rgba($med, .1);
		
		#mail, #twitter, #facebook, #github
		{
		transition: fill .2s;	
		}
		
		
		&:hover
		{
		background-color:$aqua;
		color:white;
		
		#mail, #twitter, #facebook, #github
		{
		fill:white;		
		}
		
		}
		
		}
	
	
		@media screen and (max-width:em(350)) 
		{
		margin:40px 5px 0;		
		}

	}

	
	
	.mail-link
	{
	font-size:em(16);
	}

	}
	
.scroll-to-top
	{
	position:fixed;
	right:15px;
	bottom:30px;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:$aqua;
	display:block;
	text-align:center;
	line-height:40px;
	color:white;
	display:none;
	background-image:none;
	
		&:hover
		{
		color:white;
		background-image:none;
		}	

	}