.no-multiplebgs
{
	.hero-art
	{
	width:1300px;
	margin:0 auto;
	position:relative;
	background-image:url('../siteart/cruxbg_ie.jpg');
	overflow:hidden;
	background-size:100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../siteart/cruxbg_ie.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../siteart/cruxbg_ie.jpg', sizingMethod='scale')";
	}
}

.no-svg
	{
	
	div
	{
	
	border:1px solid blue;
	}
	
	
	
	}