.hero-art
	{
	width:100%;
	max-width:1300px;
	padding:0 0 30%;
	margin:0;
	background-image:url('../siteart/cruxbg_placeholder.jpg');
	background-attachment:fixed;
	background-size:100% auto;
	position:relative;
	min-height:300px;
	
		@media screen and (max-width:em(730)) 
		{
		height:300px;
		background-size:auto 300px;
		background-position:center top;	
		background-image:url('../siteart/cruxbg_placeholder_small.jpg');
		}
	
	}
	
	
	.hero-art-shadow
	{
	position:absolute;
	bottom:0;
	width:100%;
	height:10px;
	border-bottom:1px solid $light;


/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-8 */





	}
	
.hero-art-shadow-top
	{
	position:absolute;
	top:0;
	width:100%;
	height:10px;
	border-top:1px solid $light;
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

	
	
	}
	
	
	.triple-module-shadow
	{
	@include spanner_too (3, 1200, 0, 3);
	margin:0 auto;
	padding:15px 0 0;
	position:absolute;
	height:65px;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	max-width:1100px;

		li
		{
		@include spanner_too (3, 1200, 0, 1);
		float:left;
		margin:0px;
		
			&:nth-child(3)
			{
			margin-right:0px;
			}
		
		.triple-module-image-shadow
		{
		width:150px;
		height:150px;
		border-radius:50%;
		margin:0 auto;
		display:block;	
		box-shadow:0 0 15px rgba(#666, .8);
		}

		}
	}

.teaser-module-container
	{
	margin:0 auto;
	padding:60px 40px 0;
	max-width:1100px;
	
		@media screen and (max-width:em(450)) 
		{
		padding:60px 10px 0;
		}
	
	}
	
.teaser-module
	{
	@include spanner_too (12, 1100, 0, 12);
	margin:0 0 40px 0;
	}
	
.teaser-module-head
	{
	font-family:$sans;
	font-size:em(16);
	border-bottom:1px solid #d0d0d0;
	font-weight:800;
	margin:0 0 0px 0;
	padding:0 0 2px 0;
	
		a
		{
		color:$body;
		background-image:none;
		
			&:hover
			{
			color:$aqua;
			background-image:none;			
			}
		}	
	}

.teaser-module-abstract
	{
	@include spanner_too (12, 1100, 0, 4);
	float:left;
	margin:5px 0 0 0;
	
	@media screen and (max-width:em(500)) 
	{
	@include spanner_too (12, 1100, 0, 12);	
	}

	}
	
.teaser-module-abstract-link
	{
	font-family:$sans;
	color:$aqua;
	margin:0px 4px 0 0;
	font-weight:600;
	text-decoration:none;
	background:none;
	display:inline-block;
	
	#arrow
	{
	fill:$aqua;
	transition:fill .2s;
	}

		&:hover
		{
		color:$dark_aqua;
		background-image:none;
		
			#arrow
			{
			fill:$dark_aqua;
			}
		
		}
	
	}

	
.teaser-module-art
	{
	@include spanner_too (12, 1100, 0, 8);	
	float:left;
	border-left:1px solid #d0d0d0;

		@media screen and (max-width:em(500)) 
		{
		@include spanner_too (12, 1100, 0, 12);	
		}
	
	
	}
	
.teaser-module-mainart
	{
	margin:0px 0 0 0;
	@include spanner_too (8, 678, 0, 4);	
	display:block;
	float:left;
	overflow:hidden;
	padding:5px 0px 0 5px;
	position:relative;
	
		@media screen and (max-width:em(770)) 
		{
		@include spanner_too (8, 678, 0, 8);
		}
	
		img
		{
		width:100%;
		}
		
		.med-photo-overlay
		{	
		&:hover
		{
		box-shadow:0 0 50px rgba($dark, .7) inset;	
		}
		}

	}
	
.teaser-module-secondary
	{
	margin:5px 0 40px 0;
	@include spanner_too (8, 678, 0, 1.75);
	display:block;
	float:left;
	max-height:178px;
	overflow:hidden;
	position:relative;
	padding:0 0 0 5px;
	
		@media screen and (max-width:em(770)) 
		{
		@include spanner_too (8, 678, 0, 3);
		}
	

		img
		{
		width:100%;
		}
		
		&:last-child
		{
		margin-right:0px;
		}
		
		.round-photo-overlay
		{	
		&:hover
		{
		box-shadow:0 0 50px rgba($dark, .7) inset;	
		}
		}
		

	}	
	
.teaser-module-arrow
	{
	@include spanner_too (8, 678, 0, .5);
	display:block;
	float:left;
	max-height:178px;
	overflow:hidden;
	margin:5px 0 0 0;
	position:relative;
	font-size:em(48);
	color:$aqua;
	font-family:$icon;
	text-align: center;
	position:relative;
	padding-bottom:20.5%;
	
		@media screen and (max-width:em(770)) 
		{
		padding-bottom:36%;	
		}
	
	svg
	{
	width:55%;
	transition:width .2s;
	}

	#chevron
	{
	transition:fill .2s;
	}

		
	&:hover
	{
	#chevron
	{
	fill:$dark_aqua;
	}
	
	svg
	{
	width:37%;
	}
	

	}	

	
	.svg-container
	{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:52px;
	margin:auto;
	
	}
	
	&:hover
	{
	color:$dark_aqua;
	}
	
	}		

.chevron
	{
	padding-top:20px;
	}

.med-photo-overlay
	{
	position:absolute;
	width:100%;
	padding-bottom:60%;
	box-shadow:0 0 50px rgba($med, .5) inset;
	transition: box-shadow .2s;
	z-index:2;
	}

	
.wide-photo-overlay
	{
	position:absolute;
	width:100%;
	padding-bottom:42%;
	box-shadow:0 0 50px rgba($med, .3) inset;
	z-index:2;
	}	
	
.round-photo-overlay
	{
	position:absolute;
	width:100%;
	padding-bottom:100%;
	box-shadow:0 0 50px rgba($med, .3) inset;
	z-index:2;
	}		


	
.triple-module
	{
	@include spanner_too (3, 1200, 0, 3);
	margin:0 auto;
	position:relative;
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	max-width:1100px;
	background-color:$haze;
	padding:0 0 30px 0;
	
			@media screen and (max-width:em(600)) 
			{
			max-width:400px;
			margin:0 auto;
			}

		li
		{
		@include spanner_too (3, 1200, 0, 1);
		float:left;
		margin-top:-50px;
		padding:0 40px;
		
			&:nth-child(3)
			{
			margin-right:0px;
			}
		

			@media screen and (max-width:em(900)) 
			{
			padding:0 25px;
			}
			
			@media screen and (max-width:em(825)) 
			{
			padding:0 15px;
			}
		
			@media screen and (max-width:em(600)) 
			{
			@include spanner_too (3, 1200, 0, 3);
			margin:-50px 0 60px;
				
				&:nth-child(3)
				{
				margin:-50px 0 0px;
				}
			
			}
		
		}

	}
	
.triple-module-image
	{
	width:150px;
	height:150px;
	border-radius:50%;
	margin:0 auto 20px;
	display:block;	
	background-color:white;
	padding-top:45px;
	
		@media screen and (max-width:em(450)) 
		{
		width:100px;
		height:100px;
		padding-top:22px;
		}
	
	
	svg
	{
	margin:0px auto;
	display:block;

		@media screen and (max-width:em(450)) 
		{
		width: 60%;
		}
	
	}
		
	}

.svg-fallback
	{
	display:none;
	}
	
.triple-module-icon
	{
	font-size:em(60);
	line-height:em(39);
	color:$aqua;
	text-align:center;
	
		@media screen and (max-width:em(450)) 
		{
		font-size:em(40);
		line-height:em(39);
		}
	
	}


.triple-module-head
	{
	font-size:em(22);
	font-family:$serif;
	font-style:italic;	
	margin:0 0 15px;
		
		@media screen and (max-width:em(825)) 
		{
		font-size:em(18);
		}
	
	}
	
.triple-module-text
	{
	font-size:em(16);
	color:#888;
	line-height:160%;
	
		@media screen and (max-width:em(825)) 
		{
		font-size:em(14);
		}
	
	}

	
.hero-art-secondary
	{
	width:100%;
	max-width:1300px;
	padding:0 0 20%;
	margin:0;
	background-image:url('../siteart/dots.svg'), url('../siteart/code.png'), ;
	background-attachment:fixed;
	background-size:auto auto, 100% auto;
	position:relative;	
	}
	
	