.hero-art-portfolio
	{
	width:100%;
	max-width:1300px;
	padding:0 0 40%;
	margin:0;
	background-image:url('../siteart/cruxbg_inside.png');
	background-attachment:fixed;
	background-size:100% auto;
	background-position:center 60px;
	background-repeat:no-repeat;
	position:relative;
	overflow:hidden;
	min-height:300px;
	
		@media screen and (max-width:em(500)) 
		{
		background-size:500px auto;
		background-position:center 50px;	
		}	
	}
	
	
.hero-art-shadow-portfolio
	{
	position:absolute;
	bottom:0;
	width:100%;
	height:90px;


/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


	}	


.portfolio-shadow-container
	{
	width:100%;
	height:70px;
	position:absolute;
	bottom:0px;
	left:0;
	right:0;	
	padding:0 40px;
	
		@media screen and (max-width:em(650)) 
		{
		padding:0 20px;
		}
		
		@media screen and (max-width:em(500)) 
		{
		padding:0 10px;
		}
	}	

	
.portfolio-shadow
	{
	margin:0 auto;
	max-width:1100px;
	background-color:transparent;
	max-width:1100px;
	box-shadow:0 0 6px rgba($dark, .8);
	height:70px;
	}
	

.hero-art-secondary-portfolio
	{
	width:100%;
	max-width:1300px;
	padding:0 0 33%;
	margin:0;
	background-image:url('../siteart/white_fade.svg'), url('../siteart/cruxbg_two_inside.png');
	background-attachment:fixed, fixed;
	background-size:auto auto, 100% auto;
	background-position:0 0, center 70px;
	position:relative;	
	background-repeat:repeat, no-repeat;
	min-height:250px
	}	
	

.portfolio-introduction-container
	{
	width:100%;
	margin:-70px auto 0;
	padding:0 40px;

	
		@media screen and (max-width:em(650)) 
		{
		padding:0 20px;
		}
		
		@media screen and (max-width:em(500)) 
		{
		padding:0 10px;
		}		
		
	
	}

	
.portfolio-introduction
	{
	margin:0 auto;
	padding:30px 40px 10px;
	max-width:1100px;
	background-color:white;
	max-width:1100px;
	border-left:1px solid $light;
	border-right:1px solid $light;
	border-top:1px solid white;
	

	
	
		@media screen and (max-width:em(450)) 
		{
		padding:20px 10px 10px;
		background-size:100% 1100px;
		}
	
	}

	
.big-image-module
	{
	@include spanner_too (12, 1100, 0, 12);
	margin:0 0 40px;
	}
	
.big-image-module-text-block
	{
	@include spanner_too (12, 1100, 0, 12);	
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    -webkit-column-rule: 1px solid $light; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid $light; /* Firefox */
    column-rule: 1px solid $light;
	color:$dark;
	font-size:em(16);
	line-height:150%; 	
	font-family:$droid;
	margin:0 0 30px 0;
	
		@media screen and (max-width:em(750)) 
		{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		}
	
	}

.big-image-module-image-container	
	{
	@include spanner_too (12, 1100, 0, 12);
	}
	
.big-image-module-main
	{
	@include spanner_too (12, 1100, 0, 7);
	float:left;
	margin:0px;
	display:block;

	
	@media screen and (max-width:em(700)) 
	{
	@include spanner_too (12, 1100, 0, 12);
	}
	
	}
	
.big-image-module-secondary-container
	{
	@include spanner_too (12, 1100, 0, 5);
	float:left;
	
		@media screen and (max-width:em(700)) 
		{
		@include spanner_too (12, 1100, 0, 12);
		}
	
	}
	
.big-image-module-secondary
	{
	@include spanner_too (5, 425, 0, 5);
	margin:0px;
	display:block;
	padding:0px;
	
		@media screen and (max-width:em(700)) 
		{
		@include spanner_too (5, 425, 0, 2.5);
		float:left;
		}
	
		img
		{
		margin:0px;
		}
	
	}
	
.big-image-module-three-across	
	{
	margin:0px 0 10px 0;
	@include spanner_too (3, 1100, 20, 1);
	float:left;
	
		@media screen and (max-width:em(650)) 
		{
		@include spanner_too (3, 1100, 0, 3);
		}
	
		&:nth-child(3)
		{
		margin-right:0px;
		}
	
	}
	
	
.big-text-module
	{
	margin:0 auto 40px;
	}
	
.big-text-module-image
	{
	width:100%;
	max-width:900px;
	margin:0 auto;	
	}
	
	
.triple-module-portfolio
	{
	@include spanner_too (3, 1200, 0, 3);
	margin:0 auto 40px;
	position:relative;
	max-width:1100px;
	padding:0 0 30px 0;
	
			@media screen and (max-width:em(600)) 
			{
			max-width:400px;
			margin:0 auto;
			}

		li
		{
		@include spanner_too (3, 1200, 0, 1);
		float:left;
		padding:0 40px;
		
			&:nth-child(3)
			{
			margin-right:0px;
			}
		

			@media screen and (max-width:em(900)) 
			{
			padding:0 25px;
			}
			
			@media screen and (max-width:em(825)) 
			{
			padding:0 15px;
			}
		
			@media screen and (max-width:em(600)) 
			{
			@include spanner_too (3, 1200, 0, 3);
			margin:00px 0 60px;
				
				&:nth-child(3)
				{
				margin:-50px 0 0px;
				}
			
			}
		
		}

	}
	
.triple-module-image-portfolio
	{
	width:200px;
	height:200px;
	border-radius:50%;
	margin:0 auto 20px;
	display:block;	
	overflow:hidden;
	
		@media screen and (max-width:em(800)) 
		{
		width:150px;
		height:150px;
		}

	
	img
	{
	width:102%;
	}

	}
	
.triple-module-icon-portfolio
	{
	font-size:em(60);
	line-height:em(39);
	color:$aqua;
	text-align:center;
	
		@media screen and (max-width:em(450)) 
		{
		font-size:em(40);
		line-height:em(39);
		}
	
	}


.triple-module-head-portfolio
	{
	font-size:em(16);
	font-family:$sans;
	margin:0 0 15px;	
	}
	
.triple-module-text
	{
	font-size:em(16);
	color:#888;
	line-height:160%;
	
		@media screen and (max-width:em(825)) 
		{
		font-size:em(14);
		}
	
	}	
	
	
.sidesaddle-module
	{
	@include spanner_too (12, 1100, 0, 12);
	}
	
.sidesaddle-module-image
	{
	float:right;
	@include spanner_too (12, 1100, 10, 7);	
	margin:3px 0 0 0.90909%;

	}
	
.sidesaddle-module-textblock
	{
	color:$dark;
	font-size:em(16);
	line-height:150%; 	
	font-family:$droid;
	}