.search-results
	{
	margin-top:60px;
	
	}


.search-results-header
	{
	font-family:$sans;
	font-size:em(16);
	margin:0 0 60px 0;	
	border-bottom:1px solid $med;
	padding:0 0 10px 0;
	}
	
.search-results-link
	{
	@extend .teaser-module-abstract-link;
	font-size:em(14);
	}
	
.search-results-entry
	{
	@extend .blog-entry;
	}