$droid: 'Droid Serif', georgia, serif;
$sans: 'Montserrat', 'Open Sans', sans-serif; 
$serif: 'Merriweather', georgia, times, serif;
$icon: 'icon', sans-serif;

/* colors */
$body: #444;
$aqua:#4094aa;
$dark_aqua:darken(#4094aa, 20%);
$light_aqua:#9db9c1;

$haze:#F6F5F1;

$dark:#666;
$med:#999;
$light:#d0d0d0;
